table {border-collapse: collapse;}

th,
td {
	border: 1px solid black;
	min-width: 100px;
  height: 30px;
	padding: 3px;
}

tfoot {
  background-color: greenyellow;
}

.current-cell {
  background-color: pink;
}